<html ng-app='popup' ng-csp>
	<head>
		<!-- Scripts -->
		<script src="js/shared/jquery.min.js"></script>
		<script src="js/shared/angular.min.js"></script>
		<script src="js/popup.js"></script>
		<script src="js/shared/bootstrap.min.js"></script>

		<!-- Stylin Style Sheets-->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<!--Controllers -->
		<script src="js/controllers/popupController.js"></script>
	</head>

	<body style="width:135px" ng-controller="PopupController">
		<div id="blacklist">
			<button ng-click="addToBlock()" ng-disabled="isBlocked" id="blacklist_button" class="btn btn-primary" type="submit">BLOCK THIS SITE</button> </div>
		<!--<div id="whitelist">
			<input ng-click="testfunc()" id="whitelist_button" class="btn btn-primary" type="submit" value="This shit ballin"> </input></div> -->
	</body>
</html>

