<!doctype html>
<html ng-app="app" ng-csp>
  <head>
    <title>MAD</title>
		<!-- Scripts -->
		<script src="js/shared/jquery.min.js"></script>
		<script src="js/shared/jquery-ui.min.js"></script>
		<script src="js/fuzzyset.js"></script>
		<script src="js/shared/bootstrap.min.js"></script>
		<script src="js/shared/angular.min.js"></script>
		<script src="js/shared/ui-bootstrap.min.js"></script>

		<!-- Stylin Style Sheets-->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/angular-csp.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<!-- Modules -->
		<script src="js/verify.js"></script>
		<script src="js/app.js"></script>

		<!--Controllers -->
		<script src="js/controllers/altController.js"></script>
		<script src="js/controllers/headerController.js"></script>
		<script src="js/controllers/footerController.js"></script>
  </head>

	<body>
			<div class="text-center content" ng-controller="HeaderController">
				<h1>MAD: <small>Mindful Anti Distraction</small></h1>
				<button class='btn btn-danger' ng-click='openOptions("lg")'>Block List <span class="glyphicon glyphicon-th-list"></span></button>
				<button ng-if="useReasons" class='btn btn-success' ng-click='openReasons("lg")'>Reason Tracker <span class="glyphicon glyphicon-eye-open"></span></button>
				<button class='btn btn-primary' ng-click='openSettings()'>Options<span class="glyphicon glyphicon-cog"></span></button>
			</div>

			<div class="row content">
				<h1 class="text-center">Do something more rewarding instead!</h1>
				<br>
				<div id="alternate" class="row text-center" ng-controller="AltController">
					<div ng-repeat="alt in alternatives track by $index" class="col-md-3 col-sm-3 col-xs-3">
						<div ng-hide="editMode[$index]">
							<a ng-href="{{ alt.href || urlFilter }}" style="text-decoration: none">
								<img ng-src="{{ alt.imgsrc }}" class="restrict-img-circle img-circle">
							<h3>{{ alt.text }}</h3>
							</a>
						</div>
						<div ng-hide="!editMode[$index]">
							<a href=""><span class='glyphicon glyphicon-chevron-left' aria-hidden="true" ng-click='switchPic("left", $index)'></span></a>
							<img ng-src="{{ alt.imgsrc }}" class="restrict-img-circle img-circle">
							<a href=""><span class='glyphicon glyphicon-chevron-right' aria-hidden="true" ng-click='switchPic("right", $index)'></span></a>
							<input class='form-control text-center nice-form-control' ng-model="alt.text" ></h3>
						</div>
						<button class='btn btn-xs btn-danger' ng-click='deleteAlt($index)'><span class='glyphicon glyphicon-trash' aria-hidden="true"></span></button>
						<button class='btn btn-xs btn-warning' ng-click='editAlt($index)'><span class='glyphicon glyphicon-wrench' aria-hidden="true"></span></button>
					</div>


					<div id="previewAlt" class="col-md-3 col-sm-3 col-xs-3" ng-hide="!bools.addingItem">
						<img ng-show="!NIform.imgurl.$invalid" ng-src="img/default/happygrey.png"class="restrict-img-circle img-circle" height="140" width="140">
						<img ng-show="NIform.imgurl.$invalid" ng-src="{{newAltImgUrl}}" class="restrict-img-circle img-circle">
						<h3> {{ newAltText }} </h3>
						<p> PREVIEW </p>
					</div>


					<div class ='row animate-show' id='newItem' ng-hide="!bools.addingItem">
						<div class='col-md-12'>
						<form class="form-horizontal" id="newItemForm" name="NIform" ng-submit="submitNew()" novalidate>
							<br>
							<div class='form-group'>
								<label for='inputText' class='col-sm-offset-2 col-sm-2 control-label'>Text </label>
								<div class='col-sm-4'>
									<input id='inputText'type='text' name='text' class='form-control' ng-model='newAltText' ng-minlength='1' required="">
								</div>
								<div class='col-sm-4 text-left'>
									<p ng-show="NIform.text.$error.required">Required</p>
								</div>
							</div>
							<div class='form-group'>
								<label for='inputUrl' class='col-sm-offset-2 col-sm-2 control-label'>Link/Href</label>
								<div class='col-sm-4'>
									<input id='inputUrl' type='url' name='url' class='form-control' ng-model='newAltUrl' ng-minlength='1' required="">
								</div>
								<div class='col-sm-4 text-left'>
									<p ng-show="NIform.url.$invalid">Required: Proper URL (http/https)</p>
								</div>
							</div>
							<div class='form-group'>
								<label for='inputUrl' class='col-sm-offset-2 col-sm-2 control-label'>Image Link (Optional)</label>
								<div class='col-sm-4'>
									<input id='inputUrl' type='url' name='imgurl' class='form-control' ng-model='newAltImgUrl' ng-minlength='1'>
								</div>
							</div>
							<input type="submit" ng-disabled='NIform.$invalid' class='btn btn-primary' id='submit' value='Submit'/>
							<button type="button" class="btn btn-danger" ng-click="switchAdd()"> Cancel </button>
						</form>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-3" ng-hide="bools.addingItem">
						<br>
						<a href=""> <img ng-click="switchAdd()" src="img/add.png"></img>
							<h3 ng-click="switchAdd()"> Add your Link</h3></a>
					</div>

				</div>
			</div>
			<!--	
					<br>
					<a href="https://www.youtube.com/watch?v=KfnUicHDNM8">
						<h3><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Roy Baumeister</h3>
					</a>
					<a href="https://www.youtube.com/watch?v=HTfYv3IEOqM">
						<h3><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Daniel Golemann</h3>
					</a>
					-->

	<div class="row content-a" ng-controller="FooterController">
		<div class="row text-center">
		<div class="col-md-8 col-md-offset-2 ">
			<p>Read and <strong>type the text below</strong> if you <strong>REALLY HAVE</strong> to go to your site:</p>
			<div class="jumbotron-cust">
			<blockquote>
				<p id="target"></p>
			</blockquote>
			</div>
		</div>
		</div>
			<div class="container">
				<div class="content-a">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="input-a">Retype</label>
							<div class="col-sm-9">
								<input type="text" id="input-a" class="form-control"></input>
							</div>
						</div>
						<div ng-show="useReasons" class="form-group">
							<label class="col-sm-2 control-label" for="input-b">Reason Tracking (Optional)</label>
							<div class="col-sm-9">
								<input type="text" id="input-b" class="form-control" ng-model="reason"></input>
							</div>
						</div>
					</form>
				</div>
				<div class="text-center">
					<a id="submit1" class="btn btn-primary" type="submit" href="#target">Verify</a>
					<a id="submit2"  class="btn btn-success" href="#" disabled="enabled" ng-click="enterSite($event)">Enter Site</a>
				<br><strong id="message"></strong>
				</div>

			</div>
		</div>
	</div>
  </body>
</html>

