
<!doctype html>
<html ng-app="app" ng-csp>
  <head>
    <title>MAD Reasons</title>
  </head>

  <body>
		<div class='modal-header text-center'>
			<h1> Reason Tracker: <small>Increase Self Awareness </small></h1>
		</div>

		<div class="col-md-4 text-center">
			<h2> Good </h2>
				<ul class="max-height thumbnail img-responsive">
					<div ng-repeat="reason in goodReasons track by $index">
						<p class="btn btn-success" tooltip="Wanted to go to: {{reason.link}}">{{reason.reason}}</p>
						<span class="glyphicon clicky glyphicon-chevron-right" aria-hidden="true" ng-click="move('right', 'good', $index)"></span>
					</div>
				</ul>
		</div>

		<div class="col-md-4 text-center">
			<h2> Unsorted </h2>
				<ul class="max-height thumbnail img-responsive">
					<div ng-repeat="reason in unsortedReasons track by $index">
						<span class="glyphicon clicky glyphicon-chevron-left" aria-hidden="true" ng-click="move('left', 'unsorted', $index)"></span>
						<p class="btn btn-primary" tooltip="Wanted to go to: {{reason.link}}">{{reason.reason}}</p>
						<span class="glyphicon clicky glyphicon-chevron-right" aria-hidden="true" ng-click="move('right', 'unsorted', $index)"></span>
					</div>
				</ul>
		</div>

		<div class="col-md-4 text-center">
			<h2> Poor </h2>
				<div class="max-height thumbnail img-responsive">
					<div ng-repeat="reason in badReasons track by $index">
						<span class="glyphicon clicky glyphicon-chevron-left" aria-hidden="true" ng-click="move('left', 'poor', $index)"></span>
						<p class="btn btn-danger" tooltip="Wanted to go to: {{reason.link}}">{{reason.reason}}</p>
					</div>

				</div>
		</div>


		<div class='modal-footer text-center'>
			<div class='row col-md-12 text-center'>
			<button class='btn btn-primary' ng-click='clearAll()'>Clear All</button>
			<button class='btn btn-danger' ng-click='cancel()'>Close</button>
			</div>
		</div>

	</body>
	<script type="text/javascript">
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
</html>

